<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="suite">
    <test name="RegistrationPage">
        <classes>
            <class name="capstone.aj.testcases.RegistrationPageTests"/>
        </classes>
    </test>
    <test name="UserLogin">
        <classes>
            <class name="capstone.aj.testcases.UserLoginTests"/>
        </classes>
    </test>
    <test name="SearchTests">
        <classes>
            <class name="capstone.aj.testcases.SearchTests"/>
        </classes>
    </test>
    <test name="CartTests">
        <classes>
            <class name="capstone.aj.testcases.CartTests"/>
        </classes>
    </test>
    <test name="DiscountTests">
        <classes>
            <class name="capstone.aj.testcases.DiscountTests"/>
        </classes>
    </test>
    <test name="CheckoutTests">
        <classes>
            <class name="capstone.aj.testcases.CheckOutTests"/>
        </classes>
    </test>
</suite>